.tab-content
  margin-top 20px

.tab-content-projects-slider
  display flex
  flex-wrap nowrap
  overflow-x auto
  user-select none
  height calc(100vh - 420px)
  gap 15px
  padding-bottom 15px

  &::-webkit-scrollbar
    height 8px

  &::-webkit-scrollbar-thumb
    background-color #fd7b38
    border-radius 12px
    border-top 20px solid transparent

  div.col-2
    background-color #f7f7f4
    border-radius 8px
    padding 20px
    min-width 300px
    width 100%
    max-width 400px

.buttons-modal
  display flex
  gap 15px
  justify-content flex-end
  align-items center

  &__settings
    padding 5px 15px
    background-color #333
    color white
    border-radius 4px
    cursor pointer
    transition 0.3s

    &.red
      background-color brown

    &:hover
      opacity 0.65