header
  width 100%
  background-color white
  position relative
  display flex
  justify-content flex-end
  padding 20px 30px
  border-radius 20px

.top-navigation
  display flex
  gap 15px
  align-items center

  &__user
  &__notifications
    border-radius 50%
    width 50px
    height 50px
    display flex
    align-items center
    justify-content center
    cursor pointer
    transition 0.3s

    & span
      font-size 30px

    &:hover
      opacity 0.65

  &__realtime
    background-color #333
    color white
    padding 5px 10px
    border-radius 12px
    font-size 18px
    cursor default
    user-select none