.circle-color-block
  padding 0 7px
  outline 1px solid #848d97
  width max-content
  height 20px
  border-radius 2em
  margin-right 8px

.version-text
  font-size 12px
  font-weight 500
  height 20px
  color #848d97
  cursor default
  user-select none
  white-space nowrap
  line-height 18px

.circle-color-block
.version-text
  &.release
    color #217d33
    outline-color #217d33

  &.beta
    color brown
    outline-color brown

  &.refactor
    color purple
    outline-color purple

  &.fix
    color #0064ff
    outline-color #0064ff

  &.update
    color purple
    outline-color purple

  &.style
    color purple
    outline-color purple