$site_background = #f7f7f4
$white = white
$dark = #0c1421

$colors = {
  white: $white,
  white_opacity: rgba($white, 0.5),
  white_space: #f3f9fa,
  white_block_shadow: rgba($dark, 0.12),
  dark: $dark,
  dark_opacity: rgba($dark, 0.5),
  dark_block_shadow: rgba($white, 0.65),
  text_dark: $dark,
  text_dark_purple: #464255,
  text_dark_space: #a3a3a3,
  text_white: $white,
  text_white_space: #a3a3a3,
  link: #1e4ae9,
  link_hover: #7b94fd,
  white_smoke: #cfdfe2,
  link_active: #7b94fd
}
