.manager-block
  display flex
  gap 40px
  padding 40px
  background-color transparent

  &__navigation
    width 318px
    min-width 318px
    height calc(100vh - 80px)
    background-color white
    padding 40px 0
    border-radius 20px
    position sticky

    a
      width 100%
      position relative
      display flex
      align-items center
      gap 20px
      transition 0.3s
      padding 20px
      font-size 14px
      text-transform uppercase
      font-weight bold
      color #65676d

      &:hover
        background-color #fff4ee

    .router-link-active
      background-color #fff4ee
      position relative
      color #fd7b38

      &::after
        content ''
        width 6px
        height 100%
        background-color #fd7b38
        position absolute
        right 0
        top 0

  &__content
    width 100%
    min-width 75%
    display block

.button-modal-close
  background-color #333
  width max-content
  color white
  padding 5px 10px
  border-radius 4px
  margin-left auto
  margin-top 10px
  cursor pointer
  transition 0.3s

  &:hover
    background-color rgba(51, 51, 51, 50%)
